body {
  background-color: #f8f9fe;
}
/*
 * Helper classes
 */
.separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.caret-white {
  border-top: 4px solid #fff;
}
.btn {
  overflow: visible;
  width: auto;
  border: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background: none repeat scroll 0 0 #BCA474;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn:hover,
.btn:active {
  background: #404040;
  color: #fff;
}
.message,
.alert-danger {
  padding: 10px;
  border: 1px solid #eed3d7;
  background: #fdf7f7;
}
/*
 * NotResponsive - Caps the container width in order to remain site usability down to 775px
 */
@media all and (max-width: 1000px) {
  body .container {
    /*> div.row > div.col-sm-9,
              > div.row > div.col-sm-3 {
                  width: 100%;
              }*/
  
    /*min-width:1000px !important;*/
  
  }
}
/*
 * Layout.less
 */
#header {
  margin: 0 auto 0;
  text-align: center;
  height: 200px;
  background: #fff;
}
#header h1 {
  margin-top: 30px;
  font-family: 'Lobster', cursive;
  font-size: 5em;
}
#header h1 span {
  color: #a88f5c;
}
#header h4 {
  font-family: 'Lobster', cursive;
}
#header #top-bar {
  background: #333;
  position: relative;
  text-align: left;
  height: 30px;
}
#header #top-bar .dropdown > a {
  color: #fff;
  line-height: 30px;
}
#header #top-bar .dropdown > a:hover,
#header #top-bar .dropdown > a:active,
#header #top-bar .dropdown > a:focus {
  text-decoration: none;
}
#header #top-bar .dropdown > a .glyphicon {
  margin-right: 8px;
}
#nav {
  margin-bottom: 10px;
}
#nav ul.nav > li {
  transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
}
#nav ul.nav > li:hover,
#nav ul.nav > li.active {
  background: #a88f5c;
}
#nav ul.nav > li:hover a,
#nav ul.nav > li.active a {
  color: #fff;
  background: inherit;
}
#nav ul.nav > li a {
  padding-top: 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  height: 100%;
}
#nav ul.nav > li a i.glyphicon {
  margin-right: 8px;
}
#nav #ProductSearchForm #ProductSearch,
#nav #ProductIndexForm #ProductSearch,
#nav #ProductViewForm #ProductSearch,
#nav #ProductCartForm #ProductSearch {
  border: 1px solid #ccc;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
}
#nav #ProductSearchForm button,
#nav #ProductIndexForm button,
#nav #ProductViewForm button,
#nav #ProductCartForm button {
  position: relative;
  top: -2px;
}
ul.breadcrumb {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  color: #333;
}
/*
 * Bootstrap overrides
 */
.navbar {
  border-radius: 0;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
/*
 * Products.less
 */
ul.products {
  list-style-type: none;
  padding-left: 0;
}
ul.products li.product {
  float: left;
  font-size: 16px;
  font-weight: normal;
  list-style-type: none;
  padding: 10px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  margin: 20px 10px 20px 0;
  /* Box */

  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DFE1E9;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
ul.products li.product .image-holder {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 5%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
ul.products li.product .image-holder img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
ul.products li.product .image-holder img:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul.products li.product .info {
  min-height: 50px;
  font-family: 'Roboto', sans-serif;
}
ul.products li.product .info h2 {
  font-size: .9em;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
ul.products li.product .info h2 a {
  color: #404040;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}
ul.products li.product .info .price {
  text-align: center;
  color: #a88f5c;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
ul.products li.product .info .add-to-cart-holder {
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  ul.products li.product.col-md-3 {
    width: 24%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 1000px) {
  ul.products li.product.col-sm-6 {
    width: 49%;
    margin-right: 1%;
  }
}
.product-info .product-description {
  margin-top: 20px;
}
/* Search */
.search-row {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 10px 5px;
  margin: 0;
}
/*
 * Cart.less
 */
#sidebar {
  position: relative;
  background: transparent;
}
#sidebar #cart-holder {
  background: #fff;
  padding: 5%;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
#sidebar #cart-holder:before,
#sidebar #cart-holder:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#sidebar #cart-holder:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
#sidebar #cart-holder h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  text-align: center;
  border-bottom: 3px solid #efefef;
}
#sidebar #cart-holder #cart-total-sum {
  font-family: 'Roboto', sans-serif;
  color: #a88f5c;
  font-size: 1.5em;
  display: block;
  text-align: center;
}
#sidebar #cart-holder table thead th:nth-child(4),
#sidebar #cart-holder table tbody th:nth-child(4),
#sidebar #cart-holder table thead td:nth-child(4),
#sidebar #cart-holder table tbody td:nth-child(4) {
  text-align: center;
}
#sidebar #cart-status {
  margin: 10px 0;
}
#sidebar #cart-status .alert {
  margin-bottom: 0;
}
.shopping-cart-items .row {
  margin-bottom: 10px;
}
.shopping-cart-items table tbody td {
  vertical-align: middle;
}
.shopping-cart-items table tbody td a {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.shopping-cart-items table tbody td.center {
  text-align: center;
}
.cart-total {
  font-size: 1.5em;
}
.cart-total #total {
  color: #a88f5c;
}
#productprice {
  font-family: 'Roboto', sans-serif;
  color: #a88f5c;
  font-size: 1.5em;
}
/*
 * footer.less
 */
#footer {
  margin-top: 100px;
  background: #333;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
#footer p {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
}
/*
 * End text
 * end_of_demo.less
 */
#end-of-demo {
  text-align: center;
}
#end-of-demo h1,
#end-of-demo h2 {
  font-family: 'Lobster', cursive;
}
#end-of-demo h1 {
  font-size: 5em;
}
#end-of-demo h2 {
  color: #a88f5c;
}
/*
 * Login page
 */
.login-container {
  text-align: center;
  margin: 0 auto;
}
.login-container h1 {
  font-family: 'Lobster', cursive;
}
.login-container button {
  display: block;
  margin: 15px auto 0;
}
.login-container div.col-sm-4 {
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  padding-left: 25px;
  margin: 0 auto;
  text-align: left;
  float: none;
}
/*
 * Admin styles
 */
.admin .navbar .navbar-brand {
  color: #a88f5c;
}
.admin .navbar .navbar-brand:hover {
  color: inherit;
}
.admin form div.input {
  margin-bottom: 10px;
}
.admin .cke {
  margin: 10px 0;
}
.admin table {
  margin-bottom: 20px;
}
/*
 * IE.less
 */
.ie {
  /* Fixes odd "grayish" shadow on ie8 */

}
.ie #sidebar #cart-holder {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: none;
}
.ie #sidebar #cart-holder:after,
.ie #sidebar #cart-holder:before {
  content: none;
}
